body {
  text-align: center;
  font-family: Helvetica, Arial;
  font-size: 27px;
  margin: 0 auto;
  max-width: 500em;
  min-height: 700px;
  padding: 40px 10px;
  line-height: 1.65em;
  background: #195415;
  color: #fff;
  font-weight: 300;
}

input, button {
	color: black;
}

html {
    background: #FAFAFA;
    font-family: sans-serif;
}
